# Problem 1

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

## Solution

We will directly implement a function `f` that takes in a natural number `n`, and output the solution. We do something different and implement the solution using signal processing method.

In [1]:
f(n) = sum(filter(k -> k % 3 == 0 || k % 5 == 0, 1:(n - 1)))

f (generic function with 1 method)

In [2]:
using Base.Test

In [3]:
@testset "test `f`" begin
    @test f(3) == 0
    @test f(4) == 3
    @test f(5) == 3
    @test f(6) == 8
    @test f(10) == 23
end;

Test Summary: | Pass  Total
  test `f`    |    5      5

In [4]:
# Answer
f(1000)

233168

# Answer

The answer is 233168.